html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0px;
    margin-bottom: 200px;
    /*background-color: #D7FBE8;*/
}

.footer-down{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

img .he{
    height: 190px;
}

.tcenter{
    text-align: center;
}

.btnnew{
    background-color: #92BFF0;
    text-color: #0d1b2a;
    border: 1px solid #B5D7FF;
}

input[type=submit] {
  background-color: #92BFF0;
  text-color: #0d1b2a;
  padding: 8px 10px;
  border: 1px solid #B5D7FF;
  border-radius: 4px;
}

.centsect{
    display: flex;
    justify-content: center;
    align-items: center;
}