<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Movimientos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Lista de Movimientos</h2>
    <a th:href="@{/}">Inicio</a><br>
    <a th:href="@{/movimientos/crear}">Nuevo Movimiento</a>
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Empleado</th>
            <th>Empresa</th>
        </tr>
        <tr th:each="movimiento : ${movimientos}">
            <td th:text="${movimiento.fecha}"></td>
            <td th:text="${movimiento.descripcion}"></td>
            <td th:text="${movimiento.monto}"></td>
            <td th:text="${movimiento.empleado}"></td>
            <td th:text="${movimiento.empresa}"></td>
        </tr>
    </table>

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>