<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movimiento</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}" >
  <link rel="stylesheet" th:href="@{/css/css.footer.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>

    <br>
    <section class="container">
      <h2 class="text-center">Detalle del movimiento</h2>
      <br>
    </section>1>

    <section class="container" >
      <div class="centsect">
        <form th:action="@{/movimientos/guardar}" method="post" th:object="${movimiento}" style="width: 40%;">
          <input type="hidden" name="idTransaccion" th:field="*{idTransaccion}" />
          <br>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="datetime-local" name="fecha" th:field="*{fecha}"/>
            <!--<span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Error fecha</span>-->
            <br>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" name="descripcion" class="form-control" aria-describedby="emailHelp"  th:field="*{descripcion}"/>
            <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error descripción</span>
            <br>
          </div>
          <div class="mb-3">
            <label for="monto" class="form-label">Monto</label>
            <input type="text" name="monto" class="form-control" aria-describedby="emailHelp"  th:field="*{monto}"/>
            <span th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}">Error monto</span>
            <br>
          </div>
          <div class="mb-3">
            <label for="empleado" class="form-label">Empleado</label>
            <select th:field="*{empleado.idEmpleado}" name="empleado" class="form-select">
              <option value="0" selected>Seleccione el empleado</option>
              <option th:each="empleado : ${empleados}"
                      th:value="${empleado.idEmpleado}"
                      th:text="${empleado.nombre}"
              ></option>
            </select>
            <br>
          </div>

          <div class="centsect">
            <input type="submit" name="guardar" value="Guardar" class="">
            <a class="btn btnnew" th:href="@{/movimientos/list}">Cancelar</a>
          </div>

        </form>
      </div>
    </section>


    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>