<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Lista de Empleados</h2>
    <a th:href="@{/}">Inicio</a><br>
    <a th:href="@{/empleados/crear}">Nuevo Empleado</a>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Telefono</th>
            <th>Correo</th>
            <!--<th>Empresa</th>-->
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="empleado : ${empleados}" th:if="${empleado.estado}">
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.cedula}"></td>
            <td th:text="${empleado.telefono}"></td>
            <td th:text="${empleado.correo}"></td>
            <!--<td th:text="${empleado.empresa}"></td>-->
            <td><a th:href="@{/editar/}+${empleado.idEmpleado}" th:text="Editar"></a></td>
            <td><a th:href="@{/eliminar/}+${empleado.idEmpleado}" th:text="Eliminar">Eliminar</a></td>
        </tr>
    </table>

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>