<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del Usuario</title>
</head>
<body>
    <h1>Datos del usuario</h1>
    <a th:href="@{/}">Inicio</a>
    <form th:action="@{/guardar}" method="post" th:object="${empleado}">
        <label for="cedula">Cédula</label>
        <input type="text" name="cedula" th:field="*{cedula}"/>
        <br>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <br>
        <select>
            <option value="0" selected>Seleccione la empresa</option>
            <option th:each="empresa : ${empresas}"
                    th:value="${empresa.idEmpresa}"
                    th:text="${empresa.nombre}"
            ></option>
        </select>
    </form>
</body>
</html>